li {
    list-style: none;
    background: #fff;
    color: #fff;
    padding: 0 0.5em;
    overflow: hidden;
    width: 10em;
    height: 3.35em;
    /* background-color: green; */
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    /* background: var(--nimiq-gold);
    background-image: var(--nimiq-gold-bg); */
    border-radius: 20px;
    /* box-shadow: 0 0.5rem 3.5rem rgb(129 119 173 / 47%); */
    border: 1px solid black;
}


li.show {
    /* height: 3.35em; */
    margin: 3px 0;
}

li.show:hover {
    height: 12em;
}

.list {
    position: absolute;
    z-index: 1;
}
.swing li {
margin: 15px;
opacity: 0;
transform: rotateX(-90deg); 
transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}

.swing li.show {
opacity: 1;
transform: none;
transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}

.liFont {
    font-size: 0.75em;
}
.dImg{
    position: relative;
    padding-top: 0.75px;
}
#show:hover .dImgr{
    padding-top: 0px;
    position: relative;
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}
.dValue{
    padding-top: 15px;
    /* padding-right: 10px; */
    float: right;
    color: #00B000;
}
.dMsg{
    color: #000;
}


